@import "tailwindcss";




@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-from-top {
        animation-name: slideInFromTop;
    }
    .duration-300 {
        animation-duration:300ms;
    }
    .duration-200 {
        animation-duration:200ms;
    }
    .slide-in-from-bottom {
        animation-name: slideInFromBottom;
    }
    .duration-700 {
        animation-duration:700ms;
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    
    to {
        opacity: 1;
        transform: translateY
        (0);
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    
    to {
        opacity: 1;
        transform: translateY
        (0);
    }
}

/* Custom Scrollbar for Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Custom Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}
